@import '_home';
@import '_about';
@import '_card';
@import '_experience';
@import '_skills';
@import '_education';
@import '_work';
@import '_contact';
@import '_blog';
.content {
  text-align: left;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
}